.noAccess{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    padding: 20px;
    width: 500px;
    height: 80vh;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.noAccess-heading{
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #1f115a;
}

.noAccess-subHeading {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    
}

.noAccess-para{
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

.home-link{
    padding: 10px;
    border: solid 1px #000000;
    border-radius: 5px;
    background: transparent;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.home-link:hover{
    color: #ffffff;
    border: solid 1px #6b52d0;
    background: #6b52d0;
    transition: all 0.2s ease-in-out;
}

.home-link>p{
    padding: 0 25px;
}
.home-link-Icon{
    margin-right: 12px;
}