/* Map.css */

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}


.map-container {
  flex: 100%; /* Take up half the space */
  padding: 20px;
  margin-left: 20px; /* Add some spacing between home card and map */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  overflow: hidden;
}
